<% if (theme.busuanzi){ %>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- Busuanzi Analytics -->
<div class="flex items-center gap-2">
  <span>访客 Visitors:</span>
  <span id="busuanzi_value_site_uv"></span>
  <span>·</span>
  <span>浏览量 Page View:</span>
  <span id="busuanzi_value_site_pv"></span>
</div>
<!-- End Busuanzi Analytics -->
<% } %>
