<% if (page.tag != undefined) { %>
    <!-- 显示某个tag的所有post -->
    <div class="flex flex-wrap justify-center items-center">
        <div class="
            tag
            mt-6
            text-lg
            rounded-full
            px-3
            py-1
            border-2
            border-[var(--c-theme)]
            text-[var(--c-theme)]
            bg-[var(--c-0)]
            dark:bg-[var(--c-0)]
            dark:drop-shadow-none
            ">
            <%- page.tag %>
        </div>
    </div>
<% } else if (page.category != undefined) { %>
    <!-- 显示某个分类的所有post -->
    <div class="flex flex-col justify-center items-center">
        <div class="flex flex-row items-center gap-2 mt-6 text-xl">
            <iconify-icon width="24" icon="mingcute:classify-2-fill"></iconify-icon> 
            <span>
                Category: <%- page.category %>
            </span>
        </div>
        <div class="my-4 bg-[var(--c-30)] h-[1px] w-1/2"></div>
    </div>
<% } %>
<%- partial('_partial/post-list', {posts: page.posts, show_tags: true}) %>
<%- partial('_partial/paginator') %>
