@import 'highlight.styl'


:root {
  --c-theme: #de7441
  --c-bg: #ffffff
  --c-bg-code: #ebebef
  --c-scrollbar: #d9d9d9
  --c-scrollbar-hover: #bbbbbb
  --c-sep: #d1d5db
}

html.dark
  --c-theme: #de7441
  --c-bg: #212121
  --c-bg-code: #3f3f46
  --c-scrollbar: #333333
  --c-scrollbar-hover: #555555
  --c-sep: #3f3f46

a
  color: var(--c-theme)
  transition: color 0.1s ease-in-out
  &:hover
    color: var(--c-theme)

a:hover
  color: var(--c-theme)
  cursor: pointer

::-webkit-scrollbar-track
  background-color: var(--c-bg);


::-webkit-scrollbar
  width: 6px;
  height: 6px;


::-webkit-scrollbar-thumb
    background-color: var(--c-scroll);
    border-radius: 4px;

.toc-list
  li
    margin-bottom: 0.3rem

  ol
    margin-top: 0.3rem


.back-to-top:hover
  transform: scale(1.15) rotate(3deg)
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;


.back-to-top
  -webkit-transform: translateZ(0)
  transition-property: bottom
  transition-duration: 0.2s
  transition-timing-function: ease-in-out
  transition-delay: 0s

.back-to-top.back-to-top-on
  bottom: 30px

@keyframes enter
  0%
    opacity: 0
    transform: translateY(10px)

  to
    opacity: 1
    transform: none

[data-animate]
  --stagger: 0
  --delay: 120ms
  --start: 0ms

@media (prefers-reduced-motion:no-preference)
  [data-animate]
    animation: enter .6s both
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start))

[data-animation-controller=false] [data-animate]
  animation: none;

.slide-enter-content
  counter-reset: enter-count

.slide-enter-content > *
  --stagger: 0
  --delay: 10ms
  --start: 0ms
  animation: enter 1s both 1
  animation-delay: calc(var(--start) + var(--stagger) * var(--delay))

.slide-enter-content > p
  counter-increment: enter-count
  --stagger: counter(enter-count)

.post-content
  hr.footnotes-sep
    background-color: var(--c-sep)
    margin-bottom: 1.0rem
    margin-right: 50%;
  hr
    background-color: var(--c-sep)
    height: 1px
    margin: 1.5rem 0
  border-bottom: 0
  blockquote
    padding-left: 8px
    p
      margin: 0px 8px
      font-style: normal
      color: #aaa
  code
    ::before
      content: ''

hr
  border: 0px

.prose
  p
    margin: 0.8rem 0px
    line-height: 1.5
  li
    margin: 0px
  ul
    margin: 0px
  ol
    margin: 0px
    p
      margin: 0px
  input
    margin: 0px
  code::before
    content: ''
  code::after
    content: ''
  code
    background-color: var(--c-bg-code)
    border-radius: 4px
    padding: 0.2em 0.3em
    font-size: 0.9em
    font-weight: 400
  a
    color: var(--c-theme)
    transition: color 0.2s ease-in-out
  blockquote
    ::before
      content: ''
  .footnotes
    font-size: 0.8rem
  .fancybox-img
    img:hover
      transform: scale(1.01)
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;


    img
      margin-bottom: 0.5rem
  .fancybox-alt
    font-size: 0.9rem
    text-align: center
    color: #aaa
    margin: 0px 0px
    padding: 0px 0px
    font-style: normal
    width: 100%
    display: block

li.task-list-item
  list-style-type: none

li.task-list-item .task-list-item-checkbox
  margin: 0 0.2em 0.25em -1.6em;

  input:checked
    color: var(--c-theme)
    text-decoration: line-through

.post-title:hover
  color: var(--c-theme)
