<section class="px-2 py-8 max-w-prose mx-auto gap-4 grid grid-cols-1">
  <% var last_year = ''; var last_month = ''; var last_day = ''; %>
  <!-- Sort posts by date -->
  <% posts.data.sort((a, b) => b.date - a.date) %>
  <% posts.each(function (post, index) { %>
    <% var cur_year = post.date.year(); %>
    <!-- Large text showing the year in the background -->
    <% if (last_year !== cur_year){ %>
      <div class="relative pointer-events-none h-[30px] -z-50">
        <div class="absolute -top-6 w-[100%]">
          <p class="
            text-clip
            overflow-hidden
            text-9xl
            font-extrabold
            text-[var(--c-theme)]
            opacity-10
            dark:opacity-20
            <%= config.theme_config.year_align_center ? 'text-center' : '-translate-x-3' %>
            ">
            <%- cur_year %>
          </p>
        </div>
      </div>
    <% last_year = cur_year; } %>
    <!-- The post -->
    <div class="w-full">
      <%- partial('_partial/post-list-item', {post: post, show_tags: show_tags}) %>
    </div>
  <% }) %>
</section>
