<% if (theme.links !== undefined) { %>
    <% for (var key in theme.links) { %>
        <% var link = theme.links[key] %>
        <% if (typeof link === 'object') { %>
            <% var link = theme.links[key].link; %>
            <% var icon = theme.links[key].icon; %>
        <% } else { %>
            <% var link = theme.links[key]; %>
            <% var icon = "simple-icons:" + key.toLowerCase(); %>
        <% } %>
        <a class="
            hover:text-[var(--c-theme)]
            hover:bg-[var(--c-20)]
            rounded-lg
            p-2
            my-1
            flex flex-row items-center
            group" title="<%- key %>" href="<%= link %>">
            <iconify-icon width="28" icon="<%- icon %>"></iconify-icon>
        </a>
    <% } %>
<% } %>