
<div class="flex flex-wrap gap-1">
  <% if (tags && tags.length) { %>
    <% tags.forEach(function (tag) { %>
      <a href="<%- url_for(tag.path) %>" 
        class="
          text-[var(--c-70)]
          border-[1px]
          border-[var(--c-sep)]
          bg-[var(--c-20)]
          hover:bg-[var(--c-30)]
          dark:bg-transparent 
          dark:hover:bg-[var(--c-80)]
          dark:hover:text-[var(--c-20)]
          px-[6px] py-[1px]
          text-sm
          rounded-full 
        ">
        #<%- tag.name %>
      </a>
    <% }); %>
  <% } %>
</div>