
<div class="flex flex-wrap gap-1">
  <% if (tags && tags.length) { %>
    <% tags.forEach(function (tag) { %>
      <a href="<%- url_for(tag.path) %>" 
        class="
          tag
          text-sm
          rounded-full
          px-[5px]
          border-[1px]
          border-[var(--c-theme)]
          text-[var(--c-theme)]
          bg-[var(--c-0)]
          dark:bg-[var(--c-0)]
          dark:drop-shadow-none
          hover:bg-[var(--c-theme)]
          hover:text-[var(--c-0)]
          dark:hover:text-[var(--c-10)]
          dark:hover:bg-[var(--c-theme)]
        ">
        <%- tag.name %>
      </a>
    <% }); %>
  <% } %>
</div>