
<div class="flex flex-wrap gap-2">
  <% if (tags && tags.length) { %>
    <% tags.forEach(function (tag) { %>
      <a href="<%- url_for(tag.path) %>" 
        class="transition-all hover:scale-110 bg-gray-100 hover:bg-gray-200 dark:bg-zinc-800 hover:dark:bg-zinc-700 px-2 py-1 text-sm rounded-md hover:drop-shadow-md hover:rotate-[3deg]">
        <p><%- tag.name %></p>
      </a>
    <% }); %>
  <% } %>
</div>